---
import Base from "../../layouts/Base.astro"
import PostLink from "../../components/home/PostLink.astro"
---

<Base>
  <h1 class="text-4xl font-bold">Blog</h1>
  <section class="py-4">
    <h2 class="text-3xl font-bold pb-2">2024</h2>
    <PostLink href='/blog/server-actions-in-next-js' title='Server Actions in Next.js' date='February 20' />
    <PostLink href='/blog/understanding-react' title='Understanding React' date='January 23' />
    <PostLink href='/blog/understanding-javascript' title='Understanding Javascript' date='April 22' />
  </section>

</Base>
