---

interface Props {
  href: string;
}

const {href} = Astro.props;

---


<a href={href} class="cursor-pointer underline underline-offset-2 text-accent hover:text-text" target="_blank">
  <slot />
</a>
