---
import Base from "../layouts/Base.astro"
import Link from "../components/about/Link.astro"
---

<Base>
  <section>
    <h1 class="text-4xl font-bold">About me</h1>
    <hr class="my-2 bg-black w-full"/>
    <p class="pt-2">
      Computers have fascinated me since childhood. 
      I remember my first one - a small notebook that barely served for internet browsing. 
      Despite its limitations, it was my own world, inaccessible to anyone else. 
      That's when I first encountered blue screens and fruitless searches for help on forums. 
      Trial and error method became my best friend.
    </p>   
    <p class="pt-4">
      One day, when it was time to choose a field of study, the decision was easy - computer science. 
      That's where I learned how to communicate with computers and potentially build the next Facebook. 
      Since then, I've been continuously learning and striving to acquire more skills. 
      If you're looking for someone who loves what they do, below you'll find my contact information. 

      Drop me an email at  
      <a href="mailto: bartosz.sobina@proton.me" class="cursor-pointer font-bold underline hover:text-black">bartosz.sobina@proton.me</a>
      and I'll gladly respond. 
      <br/>
    </p>
  </section>
  <section>
    <span class="text-xl font-bold">You can also find me on:</span>
    <ul class="pt-4">
      <li class="flex items-center gap-4">
        <img class="w-8" src="/github.png" alt="github icon" />
        <a href="https://github.com/Ressobe" class="underline font-bold" target="_blank">Github</a>
      </li>
      <li class="flex pt-2 items-center gap-4">
        <img class="w-8" src="/discord.png" alt="discord icon" />
        <a href="https://github.com/Ressobe" class="underline font-bold" target="_blank">Discord</a>
      </li>
    </ul>
  </section>


  <section class="py-6">
    <h2 class="text-3xl font-bold">What I'm doing now</h2>
    <hr class="my-2 bg-black w-full"/>
    <div class="pt-2 flex items-center gap-4">
      <img class="w-12" src="/coding.png" />
      <span class="text-xl font-bold">Going deep into Next.js</span>
    </div>
  </section>

  <section>
    <h2 class="text-3xl font-bold">Tools</h2>
    <hr class="my-2 bg-black w-full"/>

    <div class="py-4">
      <h3 class="text-2xl font-bold">Software</h3>
      <ul class="pt-3 pl-4 list-disc list-inside text-lg">
        <li>
          This site is hosted on 
          <Link href="https://pages.github.com/">Github Pages</Link>
          and was created using 
          <Link href="https://astro.build/">Astro</Link>
          framework with
          <Link href="https://tailwindcss.com/">Tailwind CSS</Link>
        </li>
        <li>
          Operating System: 
          <Link href="https://archlinux.org/">Arch Linux</Link>
        </li>
        <li>
          Coding: 
          <Link href="https://neovim.io/">Neovim</Link>
          with 
          <Link href="https://github.com/marko-cerovac/material.nvim">Material Theme</Link> (Deep ocean)
        </li>
        <li>
          Terminal: 
          <Link href="https://alacritty.org/">Alacritty</Link>
        </li>
        <li>
          Notes: 
          <Link href="https://obsidian.md/">Obsidian</Link>
        </li>
      </ul>
      <h3 class="text-2xl pt-4 font-bold">Hardware</h3>
      <ul class="pt-3 pl-4 list-disc list-inside text-lg">
        <li>
          Coding laptop: <span class="font-serif font-semibold">Huawei MateBook 14s 14.2", i5, 16GB, 512GB</span>
        </li>
        <li class="pt-4">
          PC:
          <ul class="pl-4 pb-4 list-disc list-inside">
            <li>CPU: <span class="font-serif font-semibold">AMD Ryzen 5 1600</span></li>
            <li>Motherboard: <span class="font-serif font-semibold">MSI B450-A PRO</span></li>
            <li>Memory: <span class="font-serif font-semibold">G.SKILL 16GB (2x8GB) 3000MHz</span></li>
            <li>PSU: <span class="font-serif font-semibold">SilentiumPC Vero L2 600W</span></li>
            <li>GPU: <span class="font-serif font-semibold">MSI GeForce RTX 2060 VENTUS OC 6GB GDDR6</span></li>
            <li>Storage: <span class="font-serif font-semibold">Crucial 500GB 2,5" SATA SSD MX500</span></li>
            <li>Case: <span class="font-serif font-semibold">SilentiumPC Signum SG1 TG</span></li>
          </ul>
        </li>
        <li>Keyboard: <span class="font-serif font-semibold">Nuphy Air 60</span></li>
        <li>Monitor: <span class="font-serif font-semibold">MSI G2712 27" 1920x1080IPS 144Hz 1 ms</span></li>
        <li>Microphone: <span class="font-serif font-semibold">Novox NC-1</span></li>
        <li>Headphones: <span class="font-serif font-semibold">Razer Barracuda X</span></li>
      </ul>
    </div>
  </section>


</Base>

