---
import Base from "../layouts/Base.astro"
---

<Base>
  <section>
    <h1 class="text-4xl font-bold">About me</h1>
    <hr class="my-2 bg-black w-full"/>
    <p class="pt-2">
      Computers have fascinated me since childhood. 
      I remember my first one - a small notebook that barely served for internet browsing. 
      Despite its limitations, it was my own world, inaccessible to anyone else. 
      That's when I first encountered blue screens and fruitless searches for help on forums. 
      Trial and error method became my best friend.
    </p>   
    <p class="pt-4">
      One day, when it was time to choose a field of study, the decision was easy - computer science. 
      That's where I learned how to communicate with computers and potentially build the next Facebook. 
      Since then, I've been continuously learning and striving to acquire more skills. 
      If you're looking for someone who loves what they do, below you'll find my contact information. 

      Drop me an email at  
      <a href="mailto: bartosz.sobina@proton.me" class="cursor-pointer font-bold underline hover:text-black">bartosz.sobina@proton.me</a>
      and I'll gladly respond. 
      <br/>
    </p>
  </section>
  <section>
    <span class="text-xl font-bold">You can also find me on:</span>
    <ul class="pt-4">
      <li class="flex items-center gap-4">
        <img class="w-8" src="/github.png" alt="github icon" />
        <a href="https://github.com/Ressobe" class="underline font-bold" target="_blank">Github</a>
      </li>
      <li class="flex pt-2 items-center gap-4">
        <img class="w-8" src="/discord.png" alt="discord icon" />
        <a href="https://github.com/Ressobe" class="underline font-bold" target="_blank">Discord</a>
      </li>
    </ul>
  </section>


  <section>
    <h2 class="text-3xl font-bold">What I'm doing now</h2>
    <hr class="my-2 bg-black w-full"/>
    <span>Going deep into Next.js</span>
  </section>

  <section>
    <h2 class="text-3xl font-bold">Tools</h2>
    <hr class="my-2 bg-black w-full"/>

    <div class="pl-1">
      <h3 class="text-2xl font-bold">Software</h3>
      <ul>
        <li>
          This site is hosted on Github Pages and was created using Astro framework
        </li>
        <li>
          Operating System: GNU\Linux (Arch Linux)
        </li>
        <li>
          Coding: Neovim with Material Theme ()
        </li>
        <li>
          Terminal: Alacritty
        </li>
        <li>
          Notes: Obsidian
        </li>
      </ul>
      <h3 class="text-2xl pt-2 font-bold">Hardware</h3>
      <ul>
        <li>
          Coding laptop:Huawei MateBook 14s 14.2", i5, 16GB, 512GB
        </li>
        <li>
          PC
          <ul class="pl-4">
            <li>CPU: </li>
            <li>Motherboard: </li>
            <li>Memory: </li>
            <li>GPU: </li>
            <li>Storage: </li>
            <li>Case: </li>
          </ul>
        </li>
        <li>Keyboard: Nuphy Air 60</li>
        <li>Monitor: </li>
        <li>Microphone: </li>
        <li>Headphones: </li>
      </ul>
    </div>
  </section>


</Base>

