---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="pt-16 w-full flex justify-center items-center">
			<div class="w-3/4 flex justify-start py-10">
				<section class="pl-5 text-left w-1/2">
					<h1 class="text-5xl font-bold pb-5">Hello, I'm Bartek</h1>
					<p>Hello! I'm a software developer who thrives on bringing creative projects to life. Beyond coding, I find joy in tinkering with Linux (I use Arch BTW), sculpting digital landscapes with command line finesse.</p>
				</section>

			</div>
		</main>
		<Footer />
	</body>
</html>
