---
import Base from '../layouts/Base.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<Base>
  <div class="w-2/3 flex flex-col justify-start py-5 gap-10">
    <section class="text-left w-1/2">
      <h1 class="text-5xl font-bold pb-5">Hello, I'm Bartek</h1>
      <p>Hello! I'm a software developer who thrives on bringing creative projects to life. Beyond coding, I find joy in tinkering with Linux
      (I use Arch BTW), sculpting digital landscapes with command line finesse.</p>
    </section>

    <section class="pt-6">
      <div class="inline-flex flex-row justify-between  items-center w-full pb-5">
        <h2 class="text-4xl font-bold ">Projects</h2>
        <a href="/projects" class="bg-black text-white px-4 py-2 rounded font-bold cursor-pointer transition-transform transform active:scale-90">View all</a>
      </div>
      <div class="grid grid-cols-3 gap-4">

        <ProjectCard 
          year='2023' 
          title='RustedC'
          description='RustedC is an language crafted in C++, Created for educational purposes' 
          demoLink='demo'
        />


        <ProjectCard 
          year='2024' 
          title='MuseBox'
          description='MuseBox is a music platform. Users can explore, rate, and share their favorite music' 
          demoLink='demo'
          sourceLink='github'
        />
        

        <ProjectCard 
          year='2024' 
          title='MarkDown Editor'
          description='User-friendly markdown editor with a real-time preview feature.' 
          demoLink='demo'
        />


      </div>
    </section>

    <section>
      <div class="inline-flex flex-row justify-between  items-center w-full pb-5">
        <h2 class="text-4xl font-bold ">Latest Posts</h2>
        <a class="bg-black text-white px-4 py-2 rounded font-bold cursor-pointer transition-transform transform active:scale-90">View all</a>
      </div>
      <div class="flex w-full">
        <div class="inline-flex justify-between w-full">
          <span>title</span>
          <span>date</span>
        </div>

      </div>
    </section>

    <section class="pt-6 text-left">
        <h2 class="text-4xl font-bold pb-2">Technologies</h2>
        <p class="pl-1 pb-6">That I use every day</p>
        <div class="grid grid-cols-2 gap-5 px-10">
           <div class="border border-slate-300 rounded-lg flex  px-4 py-4 items-center gap-4">
 
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" class="w-16" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">React</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
              <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Javascript</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
               <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Typescript</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
               <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Postgresql</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
               <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">NextJS</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
               <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Git</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
              <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Tailwind css</span>
               </div>

           </div> 

           <div class="border border-slate-300 rounded-lg flex  p-4  items-center gap-4">
 
              <img class="w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
               <div class="flex flex-col">
                 <!-- <span>November 20, 2023</span> -->
                 <span class="text-xl font-semibold">Python</span>
               </div>

           </div> 

        </div>
    </section>



  </div>
</Base>
