---
import Base from '../layouts/Base.astro';
import ProjectsSection from '../components/home/ProjectsSection.astro';
import HeroSection from '../components/home/HeroSection.astro';
import LatestPostsSection from '../components/home/LatestPostsSection.astro';
import SkillsSection from '../components/home/SkillsSection.astro';
---

<Base>
  <div class="w-2/3 flex flex-col justify-start py-5 gap-10">

    <HeroSection />
    <ProjectsSection />
    <LatestPostsSection />
    <SkillsSection />

  </div>
</Base>
