---
import Base from '../layouts/Base.astro'
---

<Base>
  <div class="w-3/4 flex justify-start py-10">
    <section class="pl-5 text-left w-1/2">
      <h1 class="text-5xl font-bold pb-5">Hello, I'm Bartek</h1>
      <p>Hello! I'm a software developer who thrives on bringing creative projects to life. Beyond coding, I find joy in tinkering with Linux (I use Arch BTW), sculpting digital landscapes with command line finesse.</p>
    </section>
  </div>
</Base>
