---
import Base from "../layouts/Base.astro"
import ProjectCard from "../components/home/ProjectCard.astro"
---

<Base>
  <h1 class="text-4xl font-bold">Projects</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-3 gap-4 pb-6">
    <ProjectCard 
      year='2024' 
      title='bartoszsobina.com'
      description='This website' 
      sourceLink="https://github.com/Ressobe/bartoszsobina.com"
    />

    <ProjectCard 
      year='2024' 
      title='MuseBox'
      description='MuseBox is a music platform. Explore, rate, and share your favorite music with friends' 
      sourceLink='github'
    />

  <ProjectCard 
      year='2023' 
      title='Pricing component with toggle'
      description='Pricing component with toggle, frontend mentor challange built with HTML and CSS' 
      demoLink='https://ressobe.github.io/pricing-component-with-toggle/'
      sourceLink='https://github.com/Ressobe/pricing-component-with-toggle'
    />

  <ProjectCard 
      year='2024' 
      title='Kanban'
      demoLink="https://kanbi.vercel.app/"
      description='Kanban board for project management' 
      sourceLink='https://github.com/Ressobe/kanban-board'
    />

  <ProjectCard 
      year='2023' 
      title='RustedC'
      description='RustedC is an language crafted in C++, Created for educational purposes' 
      sourceLink='github'
    />

    <ProjectCard 
      year='2023' 
      title='Multi step form'
      description='Multi step form, frontend mentor challange built with React' 
      demoLink='https://multi-step-form-ressobe.vercel.app/'
      sourceLink='https://github.com/Ressobe/multi-step-form'
    />
  </div>
</Base>
