<section class="text-left w-1/2">
  <h1 class="text-5xl font-bold pb-5">Hello, I'm Bartek</h1>
  <p>A software developer who thrives on bringing creative projects to life. Beyond coding, I find joy in tinkering with Linux
  (I use Arch BTW), typing commands like a caveman.</p>
</section>
