---
import PostLink from "./PostLink.astro";
---

<section class="pt-10">
  <div class="inline-flex flex-row justify-between  items-center w-full pb-6">
    <h2 class="text-4xl font-bold ">Latest Posts</h2>
    <a href="/blog" class="bg-text text-background px-4 py-2 rounded font-bold cursor-pointer transition-transform transform active:scale-90">View all</a>
  </div>

  <PostLink href='/blog/begginer-guide-to-next-js' title='Begginer Guide to Next.js' date='March 2024' />
</section>
