---
interface Props {
  title: string,
  date: string,
}

const {title, date} = Astro.props;
---

<div class="inline-flex justify-between w-full">
  <a href='?' class="text-xl text-gray-500 font-bold cursor-pointer hover:underline hover:text-black">{title}</a>
  <span class="text-lg  text-gray-500 font-mono font-semibold">{date}</span>
</div>
<hr class="my-2 bg-black w-full"/>
