---
import ProjectCard from './ProjectCard.astro';
---


<section class="pt-10">
  <div class="inline-flex flex-row justify-between  items-center w-full pb-5">
    <h2 class="text-4xl font-bold ">Projects</h2>
    <a href="/projects" class="bg-black text-white px-4 py-2 rounded font-bold cursor-pointer transition-transform transform active:scale-90">View all</a>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <ProjectCard 
      year='2023' 
      title='RustedC'
      description='RustedC is an language crafted in C++, Created for educational purposes' 
      demoLink='demo'
    />

    <ProjectCard 
      year='2024' 
      title='MuseBox'
      description='MuseBox is a music platform. Users can explore, rate, and share their favorite music' 
      demoLink='demo'
      sourceLink='github'
    />
    

    <ProjectCard 
      year='2024' 
      title='MarkDown Editor'
      description='User-friendly markdown editor with a real-time preview feature.' 
      demoLink='demo'
    />
  </div>

</section>
