---
import ProjectCard from './ProjectCard.astro';
---


<section class="pt-10">
  <div class="inline-flex flex-row justify-between  items-center w-full pb-5">
    <h2 class="text-4xl font-bold ">Projects</h2>
    <a href="/projects" class="bg-text text-background px-4 py-2 rounded font-bold cursor-pointer transition-transform transform active:scale-90">View all</a>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ProjectCard 
      year='2023' 
      title='RustedC'
      description='RustedC is an language crafted in C++, created for educational purposes' 
      sourceLink='https://github.com/Ressobe/rusted-c'
    />

    <ProjectCard 
      year='2024' 
      title='MuseBox'
      description='MuseBox is a music platform. Explore, rate, and share your favorite music with friends' 
      sourceLink='https://github.com/Ressobe/muse-box'
    />
    

    <ProjectCard 
      year='2024' 
      title='Kanban'
      description='Kanban board for project management' 
      demoLink='https://kanbi.vercel.app/'
      sourceLink='https://github.com/Ressobe/kanban-board'
    />
  </div>

</section>
