
<section class="pt-6 text-left pb-20">
    <h2 class="text-4xl font-bold pb-2">Skills</h2>
    <p>
      I've got some serious front-end chops, especially when it comes to working with Next.js. 
      I can whip up interactive websites that load fast and look sharp on any device. 
      I know my way around its different features, like server-side rendering and static generation, 
      which help me craft high-performance apps.
      Moreover, I'm not afraid to delve into the backend when needed, and I occasionally focus on backend development. 
      Understanding both sides of the coin allows me to create seamless integrations between the front and back ends, delivering robust and 
      comprehensive solutions.
    </p>
    <h2 class="text-2xl font-bold text-center pt-10">Tech Stack I have been working with</h2>
    <div class="flex items-center justify-center gap-5 mt-10">

        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-plain.svg" />
      
        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />

        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" />
      
        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
      
        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bun/bun-original.svg" />
      
        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />


        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
      
        <img class="w-20" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-original.svg" />
    </div>
</section>
