---
import HeaderLink from "./HeaderLink.astro"
import { GITHUB_URL } from "../../consts"
---

<HeaderLink href={GITHUB_URL} target="_blank" class="border inline-flex  items-center gap-2 px-5 py-2 rounded cursor-pointer transition-transform transform active:scale-90">
  <img class="w-6" src="./github.png" />
  <span>Github</span>
</HeaderLink>
