---
import HomeLink from './HomeLink.astro';
import AboutLink from './AboutLink.astro'; 
import ProjectsLink from './ProjectsLink.astro';
import GithubLink from './GithubLink.astro';
import ThemeButton from './ThemeButton.astro';
---

<header class="mt-6 px-1">
	<nav class="w-full flex justify-center items-center text-black">
		<div class="w-3/4 flex items-center justify-between">

			<div class="flex justify-between h-fit">

				<span class="inline-flex gap-3">
          <HomeLink />
          <AboutLink />
          <ProjectsLink />
          <GithubLink />
				</span>

			</div>
      <ThemeButton />


		</div>
	</nav>
</header>
