<button class="inline-flex items-center justify-center border w-16 h-16 rounded-full border-slate-300 bg-stone-100 transition-transform transform active:scale-75">
  <img class="w-12" src="./dark-light.png" />
</button>

