---
const today = new Date();
---

<footer class="w-full flex justify-center items-center text-black">
	<div class="w-3/4 flex justify-center">&copy; {today.getFullYear()} Bartosz Sobina. All rights reserved.</div>
</footer>
