---
import HeaderLink from "./HeaderLink.astro"
---

<HeaderLink href="/" class="border inline-flex items-center gap-2 px-5 py-1 rounded cursor-pointer transition-transform transform active:scale-90">
  <img class="w-6" src="./terminal.png" />
  <span>Home</span>
</HeaderLink>
