---
import HeaderLink from "./HeaderLink.astro"
---

<HeaderLink href="/projects" class="border inline-flex items-center gap-2 px-5 py-2 rounded cursor-pointer transition-transform transform active:scale-90">
  <img class="w-6" src="./projects.png" />
  <span>Projects</span>
</HeaderLink>
