---
import Base from './Base.astro';
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>['data'];
const { title, description } = Astro.props;
---

<Base>
    <section>
      <h1 class="text-4xl font-bold">{title}</h1>
      <p>{description}</p>
    </section>

    <slot />
</Base>
